<h1>Session#new</h1>
<h1>Login Page</h1>



<form action="/session/login" method="post">
    teamname
   <input type="text" name="teamname" placeholder="teamname"><br>
   password
   <input type="password" name="password" placeholder="Password">
   <input type="submit" value="ログイン">
</form><br><br><br>



