<!DOCTYPE>
<html lang="ko" xml:lang="ko">
<head>


<script language="javascript">

function fnSel(sSel) {
	if (sSel == "") {
		document.getElementById("li_id").className = "tab0 on";
		document.getElementById("li_id_56").className = "tab0";
		document.getElementById("li_id_57").className = "tab0";
		document.getElementById("li_id_58").className = "tab0";
		document.getElementById("li_id_60").className = "tab0";
		document.getElementById("team_player_56").className = "team_player_wrap noline_t";
		document.getElementById("team_player_57").className = "team_player_wrap";
		document.getElementById("team_player_58").className = "team_player_wrap";
		document.getElementById("team_player_60").className = "team_player_wrap";
		document.getElementById("team_player_56").style.display = "block";
		document.getElementById("team_player_57").style.display = "block";
		document.getElementById("team_player_58").style.display = "block";
		document.getElementById("team_player_60").style.display = "block";
	}
	if (sSel == "56") {
		document.getElementById("li_id").className = "tab0";
		document.getElementById("li_id_56").className = "tab0 on";
		document.getElementById("li_id_57").className = "tab0";
		document.getElementById("li_id_58").className = "tab0";
		document.getElementById("li_id_60").className = "tab0";
		document.getElementById("team_player_56").className = "team_player_wrap noline_t";
		document.getElementById("team_player_57").className = "team_player_wrap";
		document.getElementById("team_player_58").className = "team_player_wrap";
		document.getElementById("team_player_60").className = "team_player_wrap";
		document.getElementById("team_player_56").style.display = "block";
		document.getElementById("team_player_57").style.display = "none";
		document.getElementById("team_player_58").style.display = "none";
		document.getElementById("team_player_60").style.display = "none";
	}
	if (sSel == "57") {
		document.getElementById("li_id").className = "tab0";
		document.getElementById("li_id_56").className = "tab0";
		document.getElementById("li_id_57").className = "tab0 on";
		document.getElementById("li_id_58").className = "tab0";
		document.getElementById("li_id_60").className = "tab0";
		document.getElementById("team_player_56").className = "team_player_wrap";
		document.getElementById("team_player_57").className = "team_player_wrap noline_t";
		document.getElementById("team_player_58").className = "team_player_wrap";
		document.getElementById("team_player_60").className = "team_player_wrap";
		document.getElementById("team_player_56").style.display = "none";
		document.getElementById("team_player_57").style.display = "block";
		document.getElementById("team_player_58").style.display = "none";
		document.getElementById("team_player_60").style.display = "none";
	}
	if (sSel == "58") {
		document.getElementById("li_id").className = "tab0";
		document.getElementById("li_id_56").className = "tab0";
		document.getElementById("li_id_57").className = "tab0";
		document.getElementById("li_id_58").className = "tab0 on";
		document.getElementById("li_id_60").className = "tab0";
		document.getElementById("team_player_56").className = "team_player_wrap";
		document.getElementById("team_player_57").className = "team_player_wrap";
		document.getElementById("team_player_58").className = "team_player_wrap noline_t";
		document.getElementById("team_player_60").className = "team_player_wrap";
		document.getElementById("team_player_56").style.display = "none";
		document.getElementById("team_player_57").style.display = "none";
		document.getElementById("team_player_58").style.display = "block";
		document.getElementById("team_player_60").style.display = "none";
	}
	if (sSel == "59") {
		document.getElementById("li_id").className = "tab0";
		document.getElementById("li_id_56").className = "tab0";
		document.getElementById("li_id_57").className = "tab0";
		document.getElementById("li_id_58").className = "tab0";
		document.getElementById("li_id_60").className = "tab0";
		document.getElementById("team_player_56").className = "team_player_wrap";
		document.getElementById("team_player_57").className = "team_player_wrap";
		document.getElementById("team_player_58").className = "team_player_wrap";
		document.getElementById("team_player_60").className = "team_player_wrap";
		document.getElementById("team_player_56").style.display = "none";
		document.getElementById("team_player_57").style.display = "none";
		document.getElementById("team_player_58").style.display = "none";
		document.getElementById("team_player_60").style.display = "none";
	}
	if (sSel == "60") {
		document.getElementById("li_id").className = "tab0";
		document.getElementById("li_id_56").className = "tab0";
		document.getElementById("li_id_57").className = "tab0";
		document.getElementById("li_id_58").className = "tab0";
		document.getElementById("li_id_60").className = "tab0 on";
		document.getElementById("team_player_56").className = "team_player_wrap";
		document.getElementById("team_player_57").className = "team_player_wrap";
		document.getElementById("team_player_58").className = "team_player_wrap";
		document.getElementById("team_player_60").className = "team_player_wrap noline_t";
		document.getElementById("team_player_56").style.display = "none";
		document.getElementById("team_player_57").style.display = "none";
		document.getElementById("team_player_58").style.display = "none";
		document.getElementById("team_player_60").style.display = "block";
	}
}

//-->
</script>
</head>



	<!--header-->
	
<style type="text/css">
		
		
.tab_sty_wrap {overflow:hidden; display: block; width:880px;}
	.tab_sty_wrap li {float:left; background: #f4f4f4;}
	.tab_sty_wrap li.tab0 {width:20%;}
	.tab_sty_wrap li.tab1 {width:20%;}
	.tab_sty_wrap li.tab2 {width:20%;}
	.tab_sty_wrap li.tab3 {width:20%;}
	.tab_sty_wrap li.tab4 {width:20%;}
	.tab_sty_wrap li.tab5 {width:50%;}
	.tab_sty_wrap li.tab6 {width:50%;}

	.tab_sty_wrap li.tab33 {width:33%;}
	.tab_sty_wrap li.tab50 {width:50%;}

	.tab_sty_wrap li a {display: block; height:28px; padding:10px 0 0 0; font-size:16px; color:#999; text-align:center; border-top:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;}
	.tab_sty_wrap li.on a {color:#fff; background:#e60013; border-top:1px solid #e60013; border-right:1px solid #e60013; border-bottom:1px solid #e60013;}

.team_player_wrap {overflow:hidden; clear:both; padding:30px 0 0 0; border-top:1px solid #e5e5e5;}
	.team_player_wrap h3 {display: block; height:50px;}
		.team_player_wrap h3 .roll {font-family: 'NanumGothicBold'; font-size: 30px; color:#333;}
		.team_player_wrap h3 .enroll {margin:0 0 0 10px; font-family: 'NanumGothicBold'; font-size: 14px; color:#e60013;}

	.team_player_wrap .player_list {width:880px;}
		.team_player_wrap .player_list li {float:left; width:440px;}
		.team_player_wrap .player_wrap {position:relative; width:180px; height:120px; padding:35px 0 0 260px;}
			.team_player_wrap .player_wrap dt {display: block;}
			.team_player_wrap .player_wrap dt .name {display: block; font-size: 22px; color:#333;}
			.team_player_wrap .player_wrap dt .ename {display: block; margin:5px 0 0 0; font-size: 14px; color:#999; font-family: 'NanumGothicBold';}
			.team_player_wrap .player_wrap .img {position: absolute; top:0; left:0;}
				.team_player_wrap .player_wrap .img img {width:240px; height:120px;}
			.team_player_wrap .player_wrap .num {display: table; position: absolute; top:54px; left:179px; width:61px; height:66px; line-height:66px; text-align:center; font-size:26px; color:#fff; font-family: 'NanumGothicBold'; background:url('/sports/site/basketball/images/team_img_04.png') no-repeat right bottom;}

ul{
   list-style:none;
   }





</style>




<div class='navi4_cont' id='gnbLayer_4' style='display:none;'>
	<!--<div class='arrow'><img src='/sports/site/basketball/images/sub_gnb_arrow.png' title='Team 선택됨'/></div>-->
	<div class='navi4_player po_1'>
		<strong>가드</strong>
		<ul class='player_list'>
			<li><span>No.0</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EC%A0%95%EC%A7%84%EC%9A%B1','_top')">정진욱</a>
			</li>
			
			
			<li><span>No.1</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EC%A1%B0%EC%83%81%EC%97%B4','_top')">조상열</a>
			</li>
			
			
			<li><span>No.2</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%ED%97%88%ED%9B%88','_top')">허훈</a>
			</li>
			
			
			<li><span>No.5</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EC%9D%B4%EC%83%81%EB%AF%BC','_top')">이상민</a>
			</li>
			
			
			<li>
				<span>No.10</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EC%B5%9C%EC%84%B1%EB%AA%A8','_top')">최성모</a>
			</li>
			
			
			<li><span>No.16</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%9C%A4%ED%83%9C','_top')">김윤태</a>
			</li>
			
			
			<li><span>No.30</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%9A%B0%EB%9E%8C','_top')">김우람</a>
			</li>
			
			
			<li>
				<span>No.55</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%A2%85%EB%B2%94','_top')">김종범</a>
			</li>
			
			
			<li><span>No.4</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EC%B5%9C%EC%A7%84%EA%B4%91','_top')">최진광</a>
			</li>
		
		
		</ul>
	</div>
	
	
	
	<div class='navi4_player po_2'><strong>포워드</strong>
		<ul class='player_list'>
			<li><span>No.9</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%98%81%ED%99%98','_top')">김영환</a>
			</li>
			
			
			<li><span>No.11</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EC%96%91%ED%99%8D%EC%84%9D','_top')">양홍석</a>
			</li>
			
			
			<li><span>No.23</span><a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EB%B0%95%EC%A4%80%EC%98%81','_top')">박준영</a>
			</li>
			
			
			<li><span>No.3</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%ED%95%9C%ED%9D%AC%EC%9B%90','_top')">한희원</a>
			</li>
			
			
			<li><span>No.21</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EB%AC%B8%EC%83%81%EC%98%A5','_top')">문상옥</a>
			</li>
		</ul>
	</div>
	
	
	<div class='navi4_player po_3'><strong>센터</strong>
		<ul class='player_list'>
			<li><span>No.7</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EB%AF%BC%EC%9A%B1','_top')">김민욱</a>
			</li>
			
			
			<li>
				<span>No.8</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EC%9D%B4%EC%A0%95%EC%A0%9C','_top')">이정제</a>
			</li>
			
			
			<li><span>No.13</span>
				<a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%ED%98%84%EB%AF%BC','_top')">김현민</a>
			</li>
		</ul>
	</div>
	
	
	<div class='navi4_player po_4'><strong>군입대선수</strong>
		<ul class='player_list1'>
			<li><span>No.100</span>최창진</li>
		</ul>
	</div>
	</div>
	
	<!--//header-->
	
	<!--suball_contents_area-->
	<div class="suball_contents_area">
		<div class="suball_contents_wrap">
			<!--header-->
			



			<!--//header-->

			<!--이 안에 본문 내용 시작-->
			<!--sub_content_wrap-->
			<div class="sub_content_wrap">
				<div class="content_top_area h100">
			        <!--path_wrap navi-->
			        <div class='path_wrap'>	<p><a href='http://ktsonicboom.com/sports/site/basketball/main.do' class='home'><span>HOME</span></a><a href='javascript:;' onclick="goCheckBG('/sports/site/basketball/team/staff.do','_top')">Team</a><strong>선수</strong></p></div>
				
				<ul class="tab_sty_wrap">
                    <li id="li_id" class="tab0 on"><a href="javascript:;" onclick="fnSel('');">全てのポジション</a></li>
                    
							<li id="li_id_56" class="tab0"><a href="javascript:;" onclick="fnSel('56');">ピッチャー</a></li>
							
							<li id="li_id_57" class="tab0"><a href="javascript:;" onclick="fnSel('57');">キャッチャー</a></li>
							
							<li id="li_id_58" class="tab0"><a href="javascript:;" onclick="fnSel('58');">内野手</a></li>
							
							<li id="li_id_60" class="tab0"><a href="javascript:;" onclick="fnSel('60');">外野手</a></li>
							
				</ul>
				
					<div id="team_player_56" class="team_player_wrap noline_t">
						<h3><span class="roll">ピッチャー</span><span class="enroll">ピッチャー</span></h3>
						<ul class="player_list">
							
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Seigo Narazaki</span><span class="ename">Seigo Narazaki</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EC%A0%95%EC%A7%84%EC%9A%B1','_top')"><img src="/sports/data/_up/player/28/20_정진욱(3)(0).jpg" alt="정진욱 사진" /></a></dd>-->
												<dd class="num">0    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Yuki Abe</span><span class="ename">Yuki Abe</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EC%A1%B0%EC%83%81%EC%97%B4','_top')"><img src="/sports/data/_up/player/28/01_조상열(3).jpg" alt="조상열 사진" /></a></dd>-->
												<dd class="num">1    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Yūichi Komano</span><span class="ename">Yūichi Komano</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%ED%97%88%ED%9B%88','_top')"><img src="/sports/data/_up/player/28/02_허훈(3).jpg" alt="허훈 사진" /></a></dd>-->
												<dd class="num">2    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Marcus Tulio Tanaka</span><span class="ename">Marcus Tulio Tanaka</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EC%9D%B4%EC%83%81%EB%AF%BC','_top')"><img src="/sports/data/_up/player/28/21_이상민(3)(0).jpg" alt="이상민 사진" /></a></dd>-->
												<dd class="num">5    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Yuto Nagatomo</span><span class="ename">Yuto Nagatomo</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EC%B5%9C%EC%84%B1%EB%AA%A8','_top')"><img src="/sports/data/_up/player/28/10_최성모(3)(0).jpg" alt="최성모 사진" /></a></dd>-->
												<dd class="num">10   </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Atsuto Uchida</span><span class="ename">Atsuto Uchida</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%9C%A4%ED%83%9C','_top')"><img src="/sports/data/_up/player/28/16_김윤태(3).jpg" alt="김윤태 사진" /></a></dd>-->
												<dd class="num">16   </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Yasuhito Endō</span><span class="ename">Yasuhito Endō</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%9A%B0%EB%9E%8C','_top')"><img src="/sports/data/_up/player/28/30_김우람(3).jpg" alt="김우람 사진" /></a></dd>-->
												<dd class="num">30   </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Junichi Inamoto</span><span class="ename">Junichi Inamoto</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%A2%85%EB%B2%94','_top')"><img src="/sports/data/_up/player/28/55-김종범(3).jpg" alt="김종범 사진" /></a></dd>-->
												<dd class="num">55   </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Shinji Okazaki</span><span class="ename">Shinji Okazaki</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EC%B5%9C%EC%A7%84%EA%B4%91','_top')"><img src="/sports/data/_up/player/28/프로필 empty(0).jpg" alt="최진광 사진" /></a></dd>-->
												<dd class="num">4    </dd>
											</dl>
										</li>
										
						</ul>
					</div>
					
					
					
					
					
					
					<div id="team_player_57" class="team_player_wrap">
						<h3><span class="roll">キャッチャー</span><span class="enroll">キャッチャー</span></h3>
						<ul class="player_list">
							
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Keiji Tamada</span><span class="ename">Keiji Tamada</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EC%98%81%ED%99%98','_top')"><img src="/sports/data/_up/player/28/09_김영환(3).jpg" alt="김영환 사진" /></a></dd>-->
												<dd class="num">9    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Daiki Iwamasa</span><span class="ename">Daiki Iwamasa</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EC%96%91%ED%99%8D%EC%84%9D','_top')"><img src="/sports/data/_up/player/28/11_양홍석(3).jpg" alt="양홍석 사진" /></a></dd>-->
												<dd class="num">11   </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Yuhei Tokunaga</span><span class="ename">Yuhei Tokunaga</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EB%B0%95%EC%A4%80%EC%98%81','_top')"><img src="/sports/data/_up/player/28/23_박준영(3).jpg" alt="박준영 사진" /></a></dd>-->
												<dd class="num">23   </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Hisato Satō</span><span class="ename">Hisato Satō</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%ED%95%9C%ED%9D%AC%EC%9B%90','_top')"><img src="/sports/data/_up/player/28/03_한희원(3).jpg" alt="한희원 사진" /></a></dd>-->
												<dd class="num">3    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Kengo Nakamura</span><span class="ename">Kengo Nakamura</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EB%AC%B8%EC%83%81%EC%98%A5','_top')"><img src="/sports/data/_up/player/28/프로필 empty(1).jpg" alt="문상옥 사진" /></a></dd>-->
												<dd class="num">21   </dd>
											</dl>
										</li>
										
						</ul>
					</div>
					
					<div id="team_player_58" class="team_player_wrap">
						<h3><span class="roll">内野手</span><span class="enroll">内野手</span></h3>
						<ul class="player_list">
							
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Yasuyuki Konno</span><span class="ename">Yasuyuki Konno</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%EB%AF%BC%EC%9A%B1','_top')"><img src="/sports/data/_up/player/28/10_김민욱(3)(1).jpg" alt="김민욱 사진" /></a></dd>-->
												<dd class="num">7    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Yoshito Ōkubo</span><span class="ename">Yoshito Ōkubo</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EC%9D%B4%EC%A0%95%EC%A0%9C','_top')"><img src="/sports/data/_up/player/28/08_이정제(3).jpg" alt="이정제 사진" /></a></dd>-->
												<dd class="num">8    </dd>
											</dl>
										</li>
										
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Shinji Kagawa</span><span class="ename"> Shinji Kagawa</span></dt>
												<!--<dd class="img"><a href="javascript:;" onclick="goCheckWG('/sports/site/basketball/team/player_view.do?iPN=%EA%B9%80%ED%98%84%EB%AF%BC','_top')"><img src="/sports/data/_up/player/28/13_김현민(3).jpg" alt="김현민 사진" /></a></dd>-->
												<dd class="num">13   </dd>
											</dl>
										</li>
										
						</ul>
					</div>
					
					<div id="team_player_60" class="team_player_wrap">
						<h3><span class="roll">外野手</span><span class="enroll">外野手</span></h3>
						<ul class="player_list">
							
										<li>
											<dl class="player_wrap">
												<dt><span class="name">Eiji Kawashima</span><span class="ename">Eiji Kawashima</span></dt>
												<!--<dd class="img"><img src="/sports/data/_up/player/28/05-최창진(1).jpg" alt="최창진 사진" /></dd>-->
												<dd class="num">-</dd>
											</dl>
										</li>
										
						</ul>
					</div>
				
			</div>
			<!--sub_content_wrap-->
			
			<!--//이 안에 본문 내용 끝-->
		</div>
		<a href="javascript:;" onclick="setTimeout(function() { window.scrollTo(0,1); }, 100); return false;" class="all_btn_top"><img src="../images/totl_btn_top.gif" alt="ページの一番上に行く" /></a>
	</div>
	<!--//suball_contents_area-->
</script>

	
</div>


</body>
</html>
